# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Specific to client (React)
client/node_modules
client/build

# Specific to server (NestJS)
server/node_modules
server/dist
client/.vscode/launch.json
client/.vscode/settings.json
client/coverage/base.css
client/coverage/block-navigation.js
client/coverage/clover.xml
client/coverage/coverage-final.json
client/coverage/favicon.png
client/coverage/index.html
client/coverage/prettify.css
client/coverage/prettify.js
client/coverage/sort-arrow-sprite.png
client/coverage/sorter.js
client/coverage/src/App.tsx.html
client/coverage/src/index.html
client/coverage/src/main.tsx.html
client/coverage/src/components/product/index.html
client/coverage/src/components/product/Product.tsx.html
